<ion-card *ngIf="checklists.length === 0">
  <ion-card-header>
    <h2>Welcome!</h2>
  </ion-card-header>
  <ion-card-content>
    <p>Click the add button to create your first quicklist</p>
  </ion-card-content>
</ion-card>

<ion-list lines="none">
  <ion-item-sliding *ngFor="let checklist of checklists; trackBy: trackByFn">
    <ion-item
      button
      routerLink="/checklist/{{ checklist.id }}"
      routerDirection="forward"
    >
      <ion-label>{{ checklist.title }}</ion-label>
      <!-- <ion-badge slot="end">12</ion-badge> -->
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option
        color="warning"
        (click)="edit.emit(checklist); closeItems()"
      >
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
      <ion-item-option
        color="light"
        (click)="status.emit(checklist); closeItems()"
      >
        <ion-icon name="information-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
      <ion-item-option
        color="danger"
        (click)="delete.emit(checklist.id); closeItems()"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
