// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #fdd286;
  --ion-color-primary-rgb: 253, 210, 134;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #dfb976;
  --ion-color-primary-tint: #fdd792;

  --ion-color-secondary: #ffcd75;
  --ion-color-secondary-rgb: 255, 205, 117;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0b467;
  --ion-color-secondary-tint: #ffd283;

  --ion-color-tertiary: #ffdda3;
  --ion-color-tertiary-rgb: 255, 221, 163;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0c28f;
  --ion-color-tertiary-tint: #ffe0ac;

  --ion-color-success: #057632;
  --ion-color-success-rgb: 5, 118, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #04682c;
  --ion-color-success-tint: #1e8447;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ff6600;
  --ion-color-danger-rgb: 255, 102, 0;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e05a00;
  --ion-color-danger-tint: #ff751a;

  --ion-color-medium: #c6a976;
  --ion-color-medium-rgb: 198, 169, 118;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #ae9568;
  --ion-color-medium-tint: #ccb284;

  --ion-color-light: #fddba0;
  --ion-color-light-rgb: 253, 219, 160;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dfc18d;
  --ion-color-light-tint: #fddfaa;

  --ion-color-dark: #1c1d3b;
  --ion-color-dark-rgb: 28, 29, 59;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #191a34;
  --ion-color-dark-tint: #33344f;
}
