<ng-container *ngIf="vm$ | async as vm">
  <app-checklist-header
    [checklist]="vm.checklist"
    (reset)="resetChecklistItems($event)"
    (openModal)="formModalIsOpen$.next($event)"
  ></app-checklist-header>

  <ion-content>
    <app-checklist-item-list
      [checklistItems]="vm.items"
      (toggle)="toggleChecklistItem($event)"
      (delete)="deleteChecklistItem($event)"
      (edit)="openEditModal($event)"
    ></app-checklist-item-list>
  </ion-content>

  <ion-content>
    <ion-modal
      [isOpen]="vm.formModalIsOpen"
      [presentingElement]="routerOutlet.nativeEl"
      [canDismiss]="true"
      (ionModalDidDismiss)="formModalIsOpen$.next(false); checklistItemIsBeingEdited$.next(null)"
    >
      <ng-template>
        <app-form-modal
          [title]="vm.checklistItemIsBeingEdited ? 'Edit item' : 'Create item'"
          [formGroup]="checklistItemForm"
          (save)="vm.checklistItemIsBeingEdited ? editChecklistItem(vm.checklistItemIsBeingEdited) : addChecklistItem(vm.checklist.id)"
        >
        </app-form-modal>
      </ng-template>
    </ion-modal>
  </ion-content>
</ng-container>
