<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img src="../../assets/logo.svg" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        data-test="add-checklist-button"
        (click)="formModalIsOpen$.next(true)"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="light" size="large">Your lists</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-modal
    *ngIf="{
      checklistIsBeingEdited: checklistIsBeingEdited$ | async,
    } as vm"
    [presentingElement]="routerOutlet.nativeEl"
    [isOpen]="formModalIsOpen$ | async"
    [canDismiss]="true"
    (ionModalDidDismiss)="formModalIsOpen$.next(false); checklistIsBeingEdited$.next(null)"
  >
    <ng-template>
      <app-form-modal
        [title]="vm.checklistIsBeingEdited ? 'Edit checklist' : 'Create checklist'"
        [formGroup]="checklistForm"
        (save)="vm.checklistIsBeingEdited ? editChecklist(vm.checklistIsBeingEdited) : addChecklist()"
      ></app-form-modal>
    </ng-template>
  </ion-modal>

  <app-checklist-list
    *ngIf="checklists$ | async as checklists"
    [checklists]="checklists"
    (delete)="deleteChecklist($event)"
    (edit)="openEditModal($event)"
  >
  </app-checklist-list>
</ion-content>
